.sidenav {
  height: 100%;
  width: 240px;
  position: fixed;
  background-color: #52247F;
}

.logoContainer {
  text-align: center;
  width: 100%;
  background-color: white;
}

.logo {
  height: 100px;
}

.menuIconContainer{
  z-index: 2;
  position: fixed !important;
  color: #FFDD00 !important;
  background: #52247F !important;
  height: 40px;
  width: 40px;
  margin: 10px !important;
}

.sidenavContent {
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.analyticsBoxes > div {
  margin: 20px 0;
}

.analyticsBoxes > :last-child {
  margin-bottom: 0;
}

.dashboardButton {
  background-color: #FFDD00 !important;
  margin-bottom: 20px !important;
}

.infoPanel{
  min-height: 150px;
  width: 205px;
  border: 1px dashed #FFDD00;
}