.sidenav {
  height: 100%;
  width: 240px;
  position: fixed;
  background-color: #52247f;
}

.logoContainer {
  text-align: center;
  width: 100%;
  background-color: white;
}

.logo {
  height: 100px;
}

.menuIconButton {
  z-index: 2;
  position: fixed;
  color: #ffdd00;
  background-color: #52247f;
  height: 50px;
  width: 50px;
  margin: 10px;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.2));
}

.menuIconButton:hover {
  background-color: #4b2274;
}

.drawerPaper {
  width: 240px;
}

.sidenavContent {
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.analyticsBoxes > div {
  margin: 20px 0;
}

.analyticsBoxes > :last-child {
  margin-bottom: 0;
}

.dashboardButton {
  background-color: #ffdd00;
  margin-bottom: 20px;
}

.dashboardButton:hover {
  background-color: #e7c800;
}

.infoPanel {
  min-height: 150px;
  width: 205px;
  border: 1px dashed #ffdd00;
}
