.homeInfo {
    text-align: left;
    padding: 20px;
    font-size: 20px;
}

.sideNav {
  height: 100%;
  width: 235px;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #52247F;
}

.logoContainer {
  text-align: center;
  width: 100%;
  background-color: white;
}

.logo {
  height: 100px;
}

.map {
  height: 100vh;
  margin-left: 235px;
}

.timelineContainer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 2.5%;
  margin-left: 235px;
  width: calc(100% - 235px);
  justify-content: center;
  z-index: 2;
}

.timeline {
  width: 20%;
  min-width: 210px;
  background-color: #fffffff5;
  border-radius: 5px;
  padding: 5px 25px 1px 25px;
}