.homeInfo {
    text-align: left;
    padding: 20px;
    font-size: 20px;
}

.analyticboxes {
    display: flex;
    background-color: #52247F;
}

.map {
  height: calc(100vh - 160px);
}

.timelineContainer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 2.5%;
  width: 100%;
  justify-content: center;
  z-index: 2;
}

.timeline {
  width: 20%;
  min-width: 210px;
  background-color: #fffffff5;
  border-radius: 5px;
  padding: 5px 25px 1px 25px;
}